/* Base styles for the Contact section */
.contact {
  padding: 4rem 2rem; /* Default padding */
  background-color: #d2d6dd; /* Section background color */
  text-align: left;
  color: #f8f8f8; /* Default text color */
}

.sectionTitle {
  font-family: var(--font-ptSans);
  font-weight: 400;
  font-size: clamp(1rem, 4vw, 1.25rem); /* Fluid typography for the title */
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  color: #6a757b; /* Text color */
}

.sectionDescription {
  font-family: var(--font-nixieOne);
  font-weight: 400;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem); /* Fluid typography for the h2 */
  color: #202e33;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.contentWrapper {
  margin: 0 auto;
  text-align: left;
}

.contentWrapper p {
  color: #202e33;
  font-size: clamp(1rem, 2.5vw, 1rem);
  margin-bottom: 2rem;
}

/* Copy button & text */
.copyButton {
  background-color: none;
  color: #202e33;
  width: fit-content;
  padding: 0 0.5rem 0.25rem;
  text-decoration: none;
  border-bottom: 1px solid #202e33;
  transition: color 0.3s ease;
}

.copyButton:hover {
  color: #6a757b;
}

.copiedText {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: #6a757b;
}

/* Form container */
.formContainer {
  margin-bottom: 2rem;
}

/* Larger screens: Adjust padding and layout */
@media (min-width: 1024px) {
  .contact {
    padding: 4rem 6rem; /* Larger padding for larger screens */
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .sectionTitle {
    flex: 1;
    max-width: 200px;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .contentWrapper {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 3rem;
  }

  .contentWrapper p {
    width: 70%;
  }

  .formContainer {
    margin-bottom: 2rem;
  }
}
